// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
.header {
  padding: 30px 0;
  &__logo {
    width: 150px;
  }
}
.main {
  &__box {
    border: solid 1rem #f6dfce;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    background: url("https://getstarted.web.com/new-account-manager/img/orange-bg.png") no-repeat center top;
    background-position: top;
    background-size: 100%;
    justify-content: flex-start;
  }
  &__header {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #000000;
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 300;
    margin-bottom: 2rem;
    margin-top: 2rem;
    &--italic {
      font-family: "Lobster", Helvetica, sans-serif;
      letter-spacing: .2rem;
    }
    &--marginTop {
      margin-top: 8rem;
    }
    &--marginBottom {
      margin-bottom: 12.5rem;
    }
    &--hide {
      display: none;
    }
  }
  &__text {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.4rem;
    margin-top: 2rem;
  }
  &__btn {
    font-family: "Open Sans", Helvetica, sans-serif;
    border-radius: .4rem;
    padding: 1.2rem;
    min-width: 12.4rem;
    font-size: 1.35rem;
    line-height: 1.5rem;
    font-weight: 700;
    letter-spacing: .02rem;
    text-transform: uppercase;
    margin: 6rem auto 0;
    &--getStarted, &--letsGo {
      background-color:#7C39B3;
      color: #ffffff;
      border: 1px solid #7C39B3;
      padding: 1.2rem 3rem;
    } 
    &--next {
      background-color:#7C39B3;
      color: #ffffff;
      border: 1px solid #7C39B3;
      margin-left: 2rem;
      margin-top: 0;
      position: absolute;
      bottom: -30px;
      right: 10px;
      transition: .5s;
      &.hidden {
        opacity: 0;
        pointer-events:none;
        transition: .5s;
      }
    } 
    &--back {
      background-color:#ffffff;
      color: #7C39B3;
      border: 1px solid #7C39B3;
      margin-right: 2rem;
      margin-top: 0;
      position: absolute;
      bottom: -30px;
      left: 10px;
      transition: .5s;
      &.hidden {
        opacity: 0;
        pointer-events:none;
        transition: .5s;
      }
    }
  }
  &__img {
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 73.8rem;
    max-height: 46rem;
    &--marginTop {
      margin-top: 12rem;
      max-width: 100%;
    }
  }
  &__progressSection {
    padding: 3rem 0 0;
    &.hidden {
      opacity: 0;
      pointer-events:none;
      transition: .5s;
    }
  }
  &__progressBar {
    max-width: 37rem;
    margin: 2rem auto;
    background-color: #edd2e1 !important;
    height: .4rem !important;
  }
  &__progressBarBackground {
    background-color: #ba4a84 !important;
  }
}
.progress {
  background-image: linear-gradient(to right, #ba4a84, #ba4a84);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size .4s ease-in-out;
}
.slick-track {
  width: 100%;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .header {
    padding: 60px 0;
    &__logo {
      width: 100%;
    }
  }
  .main {
    &__box {
      max-height: 800px;
      padding: 0 4rem;
    }
    &__header {
      font-size: 3rem;
      line-height: 3.6rem;
      margin-top: 6rem;
      &--marginTop {
        margin-top: 12rem;
      }
      &--hide {
        display: block;
      }
    }
    &__text {
      font-size: 2.6rem;
      line-height: 3.2rem;
      margin-top: 6rem;
    }
    &__btn {
      &--next {
        right: 150px;
        bottom: -75px;
      }
      &--back {
        left: 150px;
        bottom: -75px;
      }
    }
    &__img {
      &--marginTop {
        margin-top: 22rem;
      }
    }
    &__progressSection {
      padding: 8rem 0 0;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .main {
    &__box {
      min-height: 872px;
    }
    &__header {
      font-size: 4.4rem;
      line-height: 4.8rem;
      &--marginTop {
        margin-top: 20rem;
      }
    }
    &__text {
      font-size: 3.6rem;
      line-height: 4.4rem;
    }
    &__btn {
      &--next {
        right: 350px;
      }
      &--back {
        left: 350px;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  
}